@{
    Layout = "_Layout.cshtml";
}

<div class="container body-content">
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Do you blog about Xamarin? Add yourself to the aggregator by sending in a <a href="https://github.com/planetxamarin/planetxamarin">pull-request to our repository</a> on GitHub. Planet Xamarin is not affiliated with Xamarin Inc. or Microsoft and is a open-source project maintained <a href="https://twitter.com/GeoffreyHuntley/status/795812681680756736">by the community for the community</a>.</p>
    </footer>
</div>