@using Firehose.Web.Controllers
@using MvcNavigationHelpers

<!doctype html>
<html>
<head>
    <title>Planet Xamarin: Community Blog Feed</title>
    <meta name="viewport" content="width=640, user-scalable=no" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.readify.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="alternate" type="application/rss+xml" title="Planet Xamarin" href="https://planetxamarin.com@((Url.UrlFor<FeedController>(c => c.Rss(50))))" />
    @RenderSection("head", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Content("~")">
                    <div class="navbar-brand-title">Planet Xamarin</div>
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>Do you blog about Xamarin? Add yourself to the aggregator by sending in a <a href="https://github.com/planetxamarin/planetxamarin">pull-request to our repository</a> on GitHub.</p>
        </footer>
    </div>
    @RenderSection("scripts", false)
</body>
</html>