@using Firehose.Web.Controllers
@using MvcNavigationHelpers

<!doctype html>
<html>
<head>
    <title>Readify Firehose</title>
    <meta name="viewport" content="width=640, user-scalable=no" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.readify.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="alternate" type="application/rss+xml" title="Readify Firehose" href="https://firehose.labs.readify.net@((Url.UrlFor<FeedController>(c => c.Rss(50))))" />
    @RenderSection("head", false)
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Content("~")">The Firehose</a>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="container">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>A <a href="https://labs.readify.net">Readify Labs</a> project</p>
            </footer>
        </div>
        @RenderSection("scripts", false)
    </body>
</html>