<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Simplistic cache warmup by preloading page - could switch to hosted service or health check
	https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#specify-custom-warm-up 
  -->
	<system.webServer>
		<applicationInitialization>
			<add initializationPage="/preview" />
			<add initializationPage="/feed" />
		</applicationInitialization>
	</system.webServer>
</configuration>
